.todo-item {
    background: white;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .completed {
    text-decoration: line-through;
  }
  
  .complete-button {
    color: #ff69b4;
    border: 1px solid #ff69b4;
    background: transparent;
    cursor: pointer;
  }
  
  .remove-button {
    color: #ff69b4;
    border: 1px solid #ff69b4;
    background: transparent;
    cursor: pointer;
  }
  